@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    João Vitor Rogacheski<br />
    41 987276403<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vitorjoao2112@hotmail.com">vitorjoao2112@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vitorjoao2112@gmail.com">vitorjoao2112@gmail.com</a>
</address>